body {
  font-family: monospace;
  background-color: grey;
  color: white;
  text-align: center;
  display: block;
}

#tribute-link {
  color: #0099FF;
}
#tribute-link:hover {
  animation-name: fond-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 6px;
    background: #333;
    box-shadow: 0 0 30px rgba(0,0,0,0.80);
  }
header .header_logo {
  width: 8%;
  height: auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 15px;
  text-decoration: underline;  
  margin: 15px;   
}

p {
  font-size: 150%;
  margin: 15px auto 30px auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: url(https://textures.world/wp-content/uploads/2018/10/40-Black-Wood-Background-Textures-21.jpg);
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.80);
}

#image {
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;    
}

h3 {
  font-size: 190%;
  font-weight: bold; 
}

footer {
  font-weight: bold;
    font-size: 150%;
}

#img-caption {
  font-weight: bold;
  font-size: 135%;
}

@keyframes fond-color {
      50% {
        color: #00ff00; }     
}
 
